.injected_btn {
    color: #fff !important;
    background: #3498db !important;
    padding: 0 15px !important;
    margin: 4px !important;
    cursor: pointer !important;
    font-size: 12px !important;
    outline: 0px !important;
    border: 0px !important;
    font-weight: 400 !important;
    border-radius: 2px !important;
    position: relative !important;
    text-decoration: none !important;
    height: 30px !important;
    line-height: 28px !important;
}

.injected_btn:hover {
    background: #69a0ff !important;
}

#detail .brand .brand__logo {
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}
