html {
    width: 500px;
    height: 300px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    background: #222;
}

#popup_phrase {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#popup_phrase_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#popup_auth,
#popup_login,
#popup_submit,
#popup_account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

#popup_phrase_btn {
    display: block;
    margin: 0px auto 20px;
}

#popup_auth,
#popup_account,
#popup_login,
#popup_submit,
#popup_phrase {
    display: none;
}

.word_block {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    margin: 7px;
}

.popup_title {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin: 40px 0 20px;
    letter-spacing: 3px;
    padding: 0 10px;
}

.popup_subtitle {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 0 10px;
    margin: 10px;
}

.group_samples {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_sample {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 0 10px;
    margin: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.popup-content {
    text-align: center;
    margin: 20px 0;
}

.popup-btn {
    display: table;
    color: #fff;
    cursor: pointer;
    outline: 0px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    background: linear-gradient(135deg, #2d84eb 0%, #2d84eb 0%, #8259ef 100%);
    border-radius: 25px;
    padding: 14px 28px;
    margin: 20px auto 10px;
    font-size: 18px;
    text-align: center;
}

.popup-btn:hover {
    opacity: 0.8;
}

.popup-btn-link {
    color: #fff;
    opacity: 0.7;
    cursor: pointer;
    margin: 15px auto;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.popup-btn-link:hover {
    opacity: 1;
}

.popup-btn-reject {
    margin-top: 10px;
    background: #595959;
}

input,
textarea {
    border: 0;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    border-radius: 4px;
    background: #222;
    outline: 0;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #fff;
    border-radius: 10px;
    width: calc(100% - 40px);
}

textarea {
    height: 120px;
    width: 400px;
}

::-webkit-input-placeholder {
    color: #ffffff50;
}

:-moz-placeholder {
    color: #ffffff50;
}

::-moz-placeholder {
    color: #ffffff50;
}

:-ms-input-placeholder {
    color: #ffffff50;
}
